# Ignore node_modules folder (dependencies installed via npm)
node_modules/

# Ignore compiled TypeScript files
dist/

# Ignore environment variables
.env

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db
